  <%= @routine.name %>
    <%= @routine.name %>
	
<p>
  <strong>Titlessss:</strong>
  <%= @routine.name %>
  
  
  

  
  
  
     <td><%= link_to 'Add Exercise' , { :controller => "routines", :action => "add_exercise", :id => @routine.id } %></td>
	 
	 
</p>