
<p>Find me in app/views/he in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/e in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/indhome/indome/index.html.erb</p>


 <div class="wrapper">
 	<hr/>
 			<h1 class="connected-label">
			
 		<span class="connected-label zeta uppercase heading-font connected-label-inner" >Hello there</span>
 			</h1>
 		</div>
 
 <p>Find me in app/views/homee in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in appe in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/viewe in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inds/home/ind/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/inde in app/views/home/ind/index.html.erb</p>

 

<%= @message %>