

<div class="wrapper">
    <hr />
    <h1 class="connected-label">
 		<span class="connected-label zeta uppercase heading-font connected-label-inner" >Hello there</span>
 			</h1>
</div>
<ul>
    <li>
        <%= link_to 'exercises', exercises_path(@routine) %>
    <li>
        <%= link_to 'routines', routines_path(@routine) %>
</ul>


<%= @message  %>

<% props = {
    slider_message: @message + @message+ @message+ @message
  }.to_json
%>
<div id="sliderElementData" data="<%= props %>"></div>
