
<p>workout</p>
 <div class="wrapper">
 	<hr/>
 			<h1 class="connected-label">
			
 		<span class="connected-label zeta uppercase heading-font connected-label-inner" >Hello there</span>
 			</h1>
 		</div>
		
		<p>workout</p>
		
		
		 <%= link_to('Home', home_index_path)  %>  