$footer-height: 300px;
$header-height: 100px;

@mixin background-settings {
    background: #ff4c2e;
}

h1 {
    text-align: center;
}

/*html, body{
  margin:0;
  padding:0;
}*/



html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    display: none;
    /*	display:flex;*/
    height: $footer-height;
    width: 100%;
	background: black;
    bottom: 0;
    left: 0;
}

.content-container {
    margin-bottom: $footer-height;
}

body {
    margin: $header-height 0 0 0;
}